<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page.title}} - Sharon Boris</title>
        <link rel="favicon" type="image/x-icon" href="/assets/favicon.png" />
        <!--<link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">-->
        {% for item in page.css %}
        <link rel="stylesheet" type="text/css" href="/css/{{ item }}.css?{{site.time | date: '%s%N'}}">
        {% endfor %}
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <!--<script src="{{ "/script/page-loader.js" | prepend: site.baseurl }}"></script>-->
        {% for item in page.js %}
        <script src="/script/{{ item }}.js"></script>
        {% endfor %}
    </head>
    <body>
    <header>
        <script>
            $(document).ready(function() {
  
                // On click, remove class on active element, add it to the new one
  
                $('header nav a').click(function(e) {
    
                    $('header nav a.active').removeClass('active');
                    $(this).addClass('active');
    
                    // Scroll to anchor
    
                    $('html,body').animate({scrollTop: $($(this).attr('href')).offset().top - 70},'slow');
    
                    e.preventDefault();
                    return false;
    
                });
  
                // On scroll, remove class on active element and add it to the new one
  
                $(document).scroll(function() {
     
                    var position = Math.floor($(this).scrollTop() / 800) + 1;
    
                    $('header nav a.active').removeClass('active');
                    $('header nav a.link-' + position).addClass('active');
    
                });
  
            });
        </script>
        
        <h1>Sharon Boris</h1>
        <nav role='navigation'>
            <ul>
                <li><a class="link-1 entypo-home active" href="#home"></a></li>
                <li><a class="link-2 entypo-user" href="#about"></a></li>
                <li><a class="link-3 entypo-lamp" href="#services"></a></li>
                <li><a class="link-4 entypo-vcard" href="#financial"></a></li>
                <li><a class="link-5 entypo-doc-text" href="#forms"></a></li>
                <li><a class="link-6 entypo-mail" href="#contact"></a></li>
            </ul>
        </nav>
    </header>
        <div class="content">
            {{ content }}
        </div>
        <footer>
            <!--<div class="icon"> saving this to add circle icons later
                <ul>
                    <li><a href="#" target="black"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>-->
            <div class="nav">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#financial">Financial</a></li>
                    <li><a href="#forms">Forms</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <p>Designed by: <a href="https://blakeboris.com">Blake Boris</a></p>
            </div>
        </footer>
    </body>
</html>
