<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page.title}} - Sharon Boris</title>
        <link rel="favicon" type="image/x-icon" href="/assets/favicon.png" />
        <!--<link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">-->
        {% for item in page.css %}
        <link rel="stylesheet" type="text/css" href="/css/{{ item }}.css?{{site.time | date: '%s%N'}}">
        {% endfor %}
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <!--<script src="{{ "/script/page-loader.js" | prepend: site.baseurl }}"></script>-->
        {% for item in page.js %}
        <script src="/script/{{ item }}.js"></script>
        {% endfor %}
    </head>
    <body>
        <header>
            <h1>Sharon Boris</h1>
            <nav role='navigation'>
                <ul>
                    <li><a class="link-1 entypo-home active" href="#home"></a></li>
                    <li><a class="link-2 entypo-picture" href="#clients"></a></li>
                    <li><a class="link-3 entypo-user" href="#about"></a></li>
                    <li><a class="link-4 entypo-mail" href="#contact-us"></a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
            {{ content }}
        </div>

        <footer>
            <div class="icon">
                <ul>
                    <li><a href="#" target="black"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="black"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="black"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="black"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li class="p1"><a href="#">Contact Us</a></li>
   	  		

                </ul>
            </div>
            <div class="nav1">
                <ul>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">new</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Media</a></li>
   	  		
   	  		
                </ul>
            </div>
            <div class="nav2">
                <ul>
                    <li><a href="#" title="To Top"><i class="fa fa-chevron-down"></i></a></li>
                </ul>
            </div>
            <div class="footer-end">
                <p>Designed by: <a href="https://blakeboris.com">blakeboris.com</a></p>
            </div>
        </footer>
    </body>
</html>
